#heart-svg {
    cursor: pointer;
    overflow: visible;
    width: 60px;
}

svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
}

svg #main-circ {
    transform-origin: 29.5px 29.5px;
}

.checkbox {
    display: none;
}

    .checkbox:checked + label svg #heart {
        transform: scale(0.2);
        fill: #E2264D;
        animation: animateHeart .3s linear forwards .25s;
    }

    .checkbox:checked + label svg #main-circ {
        transition: all 2s;
        animation: animateCircle .3s linear forwards;
        opacity: 1;
    }
.heart-label {
    position: absolute;
    top: 0px; /* Adjust the top position as needed */
    right: 0px; /* Adjust the right position as needed */
}


@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #DD4688;
    }

    55% {
        transform: scale(11);
        opacity: 1;
        fill: #D46ABF;
    }

    65% {
        transform: scale(12);
        opacity: 1;
        fill: #CC8EF5;
    }

    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 5%;
    }

    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
    }

    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 1%;
    }

    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #CC8EF5;
        stroke-width: 0;
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }

    40% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}