
.comment {
    padding: 20px;
}

.comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.stars {
    color: #007bff; /* Blue color */
}

    .stars .star {  
        font-size: 40px;
    }

.comment-pic {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    flex-grow: 1; /* Allow comments to grow equally */
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .name {
    margin-top: 16px;
}

.comment:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.comment-text {
    width: 100%;
    text-align: center;
    display: block;
}

    .comment-text span {
        font-size: 20px;
    }


#Comments .carousel-inner .carousel-item.active,
#Comments .carousel-inner .carousel-item-next,
#Comments .carousel-inner .carousel-item-prev {
    display: flex;
}
.flexbox {
    display: flex;
    justify-content:space-evenly;
}
.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
    font-size: 35px;
    position: absolute;
    top: 20%;
    align-content: center;
    font-weight: bold;
    color: blue;
}

#Comments .carousel-control-next-icon:after {
    content: '>';
}

#Comments .carousel-control-prev-icon:after {
    content: '<';
}

#Comments .carousel-control-next-icon:hover,
#Comments .carousel-control-prev-icon:hover {
    transition: opacity 0.3s ease;
    opacity: 0.5;
}
.carousel-text {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: white;
    font-size: 3vw;
    font-weight:bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width:50%;
}
@media(width<1100px) {
    #Comments .carousel-item {
        display:block;
    }

   #Comments .carouse   l-item .comment {
        flex: 0 0 100%;
        max-width:100%;
    }
}
.swiper-container {
    width: 100%;
    padding:20px;
    height: 250px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (width < 800px) {

    #productCarousel .carousel-item {
        display: block;
    }

    #productCarousel .carousel-control-prev, #productCarousel .carousel-control-next {
        display: none;
    }
}