
.product-small-images {
    margin-top: 10px;
    justify-content: center;
}

    .product-small-images img {
        padding: 10px;
        width: 10%;
    }

.main-img {
    display: block;
    height: auto;
    transition: transform 0.2s;
}
    
.image-container {
    height:100%;
    width: 100%; /* Ensure container takes full width */
}
    .image-container .prd-img {
        height: 100%;
        width:100%;
        object-fit: contain;
    }

.image-container:hover {
    cursor: zoom-in;
}

.small-image:hover {
    outline: solid 1px;
    border-radius: 10px;
}
.cat:hover {
    animation: likeBtnAnimation 0.2s forwards;
    color:white;
}
@keyframes likeBtnAnimation{
    100%{
        background-color:red;
        color:white;
    }
}
.two-sides {
    padding:20px;
    flex-grow: 1;
    max-height: 70vh;
    min-width: 400px;
    flex-basis: 45%;
    text-align: center; /* Centers the text horizontally */
}

.item-2{
    max-width:800px;
}
.side-space {
    padding: 0 10% 50px 10% /* Adds padding around the flex container */
}
